Implement feature customization for IPv6 regex

Implement IPv6 regex options for:
- [ ] Leading zeros (RFC 5952 §2.1)
- [ ] Zero compression (RFC 5952 §2.2)
- [ ] Case sensitivity (RFC 5952 §2.3)
- [ ] Zone Identifier (RFC 4007 §11)
- [ ] Embedding IPv4 in IPv6 in general (RFC 6052 §2, RFC 2765 §2.1/2.2)

Useful sources:
- https://stackoverflow.com/a/17871737/7771076
- https://gist.github.com/syzdek/6086792